.about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background-color: #e7e7e7f6;
    font-family: Louis George Cafe;
    padding: 10vh 0;
}

.about .alice-carousel__wrapper {
    height: 50vh;
}

.about-inner-div {
    display: flex; 
    justify-content: center;
    /* background-color: red; */
    padding: 0 20vw;
}

.company-story {
    /* background-color: blue; */
    width: 60%;
    text-align: justify;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.juan-story {
    /* background-color: green; */
    width: 40%;
}

.juan-story p {
    /* background-color: orange; */
    padding: 10px;
    text-align: justify;
}

.image-div {
    /* background-color: pink; */
    padding: 10px;
}

.image-div img {
    width: 13vw;
    height: 18vw;
    object-fit: cover;
    float: left;
    margin: 40px 10px 10px 0;
}




