.home {
    height:100vh;
    width:100%;
    object-fit: cover;
}

.logo-slogan {
    position: fixed;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /* background-color: lightcoral; */
}

.logo{
    object-position:top;
    object-fit: contain;
    margin-top: 15vh;
    width: 50vw;
    background-color: lightgreen;
}

.slogan {
    color: #c9c9c9f1;
    display: flex;
    justify-content: space-between;
    font-size: 4.2vw;
    width: 50.5vw;
}

@media(max-width: 1600px) {
    .logo{
        margin-top: 16vh;
        width: 45vw;
    }
    .slogan {
        width: 45vw;
        font-size: 3.8vw;
    }
}

@media(max-width: 1100px) and (orientation: landscape) {
    .logo {
        width: 55vw;
        margin-top: 20vh;
    }
    .slogan {
        width: 55vw;
        font-size: 4.5vw;
    }
}

@media(max-width: 1000px) and (orientation: portrait) {
    .logo {
        margin-top: 20vh;
        width: 80vw;
    }
    .slogan {
        font-size: 7vw;
        width: 80vw;
    }
}

@media(max-width: 500px) and (orientation: portrait) {
    .logo {
        margin-top: 30vh;
    }
}

@media(max-width: 900px) and (orientation: landscape) {
    .logo {
        width: 36vw;
        margin-top: 22vh;
    }
    .slogan {
        width: 36vw;
        font-size: 1.5rem;
    }
}



