.portfolio {
    /* padding-top: 20vh; */
    background-color: #fffffff1;
}

.first-slider .slider-image{
    height: 50vh;
    width:100%; 
}

.first-slider {
    height: 50vh;
}

.first-slider .alice-carousel__prev-btn img,
.first-slider .alice-carousel__next-btn img{
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 5px;
  transform: translateY(15vh);
  width: 35px;
  height: 60px;
}

.portfolio-slider-outer{
    margin-bottom: 60vh;
    padding-left: 20vw;
    padding-right: 10vw;
    height: 52vh;
    margin-top: 50vh;
}

.portfolio-slider-inner {
    transform: translateY(-40vh);
}

.portfolio-slider-outer:last-of-type {
    margin-bottom: 0;
}

.portfolio-slider-inner .alice-carousel__wrapper {
    border: 5px solid rgb(225, 225, 225);
    height: 70vh;
}

.products-and-services-child a:hover {
    cursor: pointer;
    color: white;
}

.portfolio-slider-inner h2{
    font-family: Louis George Cafe;
    color: rgb(154, 154, 154);
    font-size: 2rem;
}

.portfolio-title {
    display: flex;
    flex-direction: row;
    width: 40vw;
    /* background-color: red; */
    align-items: center;
}
.portfolio-title img{
    height: 35px;
    margin-right: 10px; 
}

.about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bebebed5;
    width: 100%;
    padding: 7vh 0;
    height: 36vh;
    font-family: Louis George Cafe;
    font-size: larger;
}

.about-bottom h1 {
    font-size: 2rem;
    color: rgb(67, 67, 67);
}

.products-and-services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}

.products-and-services-child {
    width: 33%;
    text-align: center;
}

.products-and-services-child h2{
    font-size: 2rem;
}

@media (max-width: 1300px) and (orientation: landscape) {
    .products-and-services-child h2{
        font-size: 1.5rem;
    }
    .products-and-services-child p{
        font-size: 1rem;
    }
}

@media(max-width: 900px) and (orientation: portrait) {
    .first-slider .slider-image{
        height: 30vh;
    }
    
    .first-slider {
        height: 30vh;
    }
    
    .first-slider .alice-carousel__prev-btn img,
    .first-slider .alice-carousel__next-btn img{
      transform: translateY(25vh);
    }
    .about-bottom {
        height: 15vh;
    }
    .products-and-services {
        width: 100%;
    }
    .about-bottom h1 {
        font-size: 1.5rem;
    }
    .products-and-services-child h2 {
        font-size: 1.5rem;
    }
    .products-and-services-child p {
        font-size: 1rem;
    }
}

@media(max-width: 900px) and (orientation: landscape) {
    .about-bottom {
        height: 50vh;
    }
    .about-bottom h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .products-and-services {
        width: 100%;
    }
}

@media(max-width: 700px) and (orientation: portrait) {
    .about-bottom {
        height: 40vh;
    }
    .about-bottom h1{
        font-size: 1.5rem
    }
    .products-and-services-child h2 {
        font-size: 1.2rem;
    }
}

@media(max-width: 500px) {
    /* .portfolio-title h2{
        font-size: smaller
    } */
    .about-bottom {
        height: 50vh;
    }
    /* .about-bottom h1{
        font-size: small
    } */
    .first-slider .slider-image{
        height: 25vh;
    }
    
    .first-slider {
        height: 25vh;
    }
    .first-slider .alice-carousel__prev-btn img,
    .first-slider .alice-carousel__next-btn img{
      transform: translateY(27vh);
      width: 30px;
      height: 55px;

    }
    .about-bottom h1{
        font-size: 1.3rem
    }
    .products-and-services {
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
    }
    .products-and-services-child {
        width: 100%;
    }
}