.portfolio {
    /* padding-top: 20vh; */
    background-color: #fffffff1;
}

.portfolio-slider-outer{
    margin-bottom: 60vh;
    padding-left: 20vw;
    padding-right: 10vw;
    height: 52vh;
    margin-top: 50vh;
}

.portfolio-slider-inner {
    transform: translateY(-40vh);
}

.portfolio-slider-outer:last-of-type {
    margin-bottom: 0;
}

.portfolio-slider-inner .alice-carousel__wrapper {
    border: 5px solid rgb(225, 225, 225);
    height: 70vh;
}

.products-and-services-child a:hover {
    cursor: pointer;
    color: white;
}

.portfolio-slider-inner h2{
    font-family: Louis George Cafe;
    color: rgb(154, 154, 154);
    font-size: 2rem;
}

.portfolio-title {
    display: flex;
    flex-direction: row;
    width: 40vw;
    /* background-color: red; */
    align-items: center;
}
.portfolio-title img{
    background: blue;
    height: 35px;
    margin-right: 10px; 
}

.about-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bebebed5;
    width: 100%;
    padding: 7vh 0;
    height: 36vh;
    font-family: Louis George Cafe;
    font-size: larger;
}

.about-bottom h1 {
    font-size: 2rem;
    color: rgb(67, 67, 67);
}

.products-and-services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}

.products-and-services-child {
    width: 33%;
    text-align: center;
}


